@model int

@{
    var currentPage = int.Parse(Request.QueryString["page"] == null ? "1" : Request.QueryString["page"]);
    var placeId = int.Parse(Url.RequestContext.RouteData.Values["id"].ToString());

    <nav>
        <ul class="pagination">
            <li><a href="@Url.Action("Details", "Places", new { area = "Private", id = placeId, page = (currentPage == 1 ? 1 : currentPage - 1)})" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            @for (int i = 1; i <= Model; i++)
            {
                if (Request.QueryString["page"] == i.ToString())
                {
                    <li class="active"><a href="@Url.Action("Details", "Ideas", new { area = "Private", id = placeId, page = i })">@i<span class="sr-only">(current)</span></a></li>
                }
                else
                {
                    <li><a href="@Url.Action("Details", "Places", new { area = "Private", id = placeId, page = i })">@i</a></li>
                }
            }
            <li><a href="@Url.Action("Details", "Places", new { area = "Private", id = placeId, page = (currentPage == Model ? Model : currentPage + 1)})" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
        </ul>
    </nav>
}