@using MvcTemplate.Web.Areas.Private.Models.Comments
@model MvcTemplate.Web.Areas.Private.Models.Places.PlaceDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<div class="transparent-background">    
    <div class="row padding-left">
        @Html.DisplayFor(m => Model.Place, "PlaceDetails")
    </div>
    <br />
    <p>View all photos from the place</p>
    <div class="row">
        @foreach (var image in Model.Images)
        {
            <div class="padding-left" >
                <img class="place-image-container" src="@(image != null ? @Url.Action("GetImageById", "Images", new { id = image.Id, area = "Private" }) : Url.Content("~/Images/default.png"))" />
            </div>
        }
    </div>
    <br />
    <div>
        TODO: add to favorites
        TODO: add more pictures
    </div>
    <div class="row padding-left">
        @Html.Partial("_CommentAddPartial", new CommentInputModel())
    </div>
    <div class="row padding-left">
        @Html.Partial("_CommentsListPartial", Model.Comments)
    </div>
    <div class="row padding-left">
        @Html.Partial("_CommentsPaginationPartial", Model.PagesCount)
    </div>
</div>

